body {
    margin: 0;
    background-image: url('../image/bg.png'); /* Your small image */
    background-size: cover;         /* Make image cover the screen */
    background-repeat: repeat-y;    /* Repeat vertically on scroll */
    background-position: center;    /* Center the image */
    background-attachment: scroll;     /* Start repeating from top-left */
}
#flash {
    transition: opacity 0.5s ease-in-out;
    border-radius: 0.75rem;
}
